{% extends 'base.html' %}

{% block content %}
    <h1>Home page</h1>

    <h1>Welcome to the Travel Agency!</h1>
    <ul>
        <li><a href="{% url 'destination_list' %}">Destinations</a></li>
        <li><a href="{% url 'hotel_list' %}">Hotels</a></li>
        <li><a href="{% url 'package_list' %}">Packages</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'order_list' %}">Orders</a></li>
        {% else %}
        {% endif %}
    </ul >

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Register</a>
    {% endif %}
{% endblock %}

